MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/?retryWrites=true&w=majority&appName=<app-name>
MONGO_DB_NAME=dark_web_threat_intel
MONGO_COLLECTION=analyses
TELEGRAM_API_ID=<telegram_api_id>
TELEGRAM_API_HASH=<telegram_api_hash>
TELEGRAM_SESSION_STRING=<telethon_string_session>
PASTEBIN_API_KEY=<pastebin_developer_api_key>
DEHASHED_EMAIL=<dehashed_account_email>
DEHASHED_API_KEY=<dehashed_api_key>
GITHUB_TOKEN=<github_personal_access_token>
PUBLIC_INTEL_MAX_ITEMS=10
PUBLIC_INTEL_REQUEST_TIMEOUT=12
